/* === Allgemein ===*/

/* Schrifte */

body,
p
		{
		font-family: 'Montserrat', sans-serif;
		font-weight: 300
	}

h1,
h2,
h3,
h4,
h5,
h6,
.font-alt {
	font-family: 'Oleo Script Swash Caps', cursive;
}

/* button */

.btn-round {
	border-radius: 30px;
}

.d-relative {
	position: relative;
}